body {
  margin: 0;
  font-family: source-code-pro, Consolas, monaco, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

p {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.react-card-flip {
  display: inline-block;
}
